__pycache__

.env
backend-nest/.env
ai-service/.env
# ai-service/models/
ai-service/captures/
frontend/.env.local
*.pt
ai-service/__pycache__/detector.cpython-310.pyc
ai-service/__pycache__/detector.cpython-313.pyc
